$slack-bgc: #3f0e40;
$aside-text: #b29fb3;
$connected: #2bac76;
$blue: #1965a1;
$input-grey: #616061;

$bk0: rgba(0, 0, 0, 0);
$bk1: rgba(0, 0, 0, .1);
$bk2: rgba(0, 0, 0, .2);
$bk3: rgba(0, 0, 0, .3);
$bk4: rgba(0, 0, 0, .4);
$bk5: rgba(0, 0, 0, .5);
$bk6: rgba(0, 0, 0, .6);
$bk7: rgba(0, 0, 0, .7);
$bk8: rgba(0, 0, 0, .8);
$bk9: rgba(0, 0, 0, .9);
$bk95: rgba(0, 0, 0, .95);
