@import '_utils.scss';

.Content {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 770px;
    border: 1px solid $bk2; 
    border-radius: 10px;
    box-shadow: 2px 5px 10px $bk2;
    > div {
        display: flex;
    }
}