@import '_utils.scss';

.Message {
    width: 77%;
    height: 740px;
    position: relative;
    &-list {
        width: 100%;
        max-height: 87%;
        position: absolute;
        overflow-y: scroll;
        bottom: 65px;
    }
    &-list-element {
        display: flex;
        margin: 5px 0;
        padding: 8px 35px;
        > div:nth-child(1) {
            margin-right: 12px;
            padding-top: 3px;
            img {
                width: 45px;
                border-radius: 5px;
            }
        }
        > div:nth-child(2) {
            font-size: 20px;
            div:nth-child(1) {
                padding: 2px 0;
                font-weight: 700;
            }
        }
        &:hover {
            background-color: #f8f8f8;
        }
    }
    &-footer {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 7%;
        position: absolute;
        bottom: 15px;
        &-input {
            width: 84%;
            border: 3px solid $input-grey;
            border-radius: 10px;
            margin-right: 10px;
            > div:nth-child(1) {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 6%;
                height: 100%;
                border-right: 3px solid $input-grey;
                i {
                    font-size: 18px;
                    color: $input-grey;
                }
            }
        }
        &-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            width: 8%;
            background-color: #ddd;
            border-radius: 10px;
            font-size: 20px;
            color: #4d4c4d;
            font-weight: 700;
        }
    }
}

.mentioned-user {
    background-color: #e8f5fa;
    color: $blue;
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
}

a {
    &:link {
        color: $blue;
    }
    &:visited {
        color: $blue;
    }
    &:hover {
        color: #114e8a;
        text-decoration: underline;
    }
}
