@import '_utils.scss';

.User {
    width: 23%;
    height: 740px;
    background-color: $slack-bgc;
    border-bottom-left-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    &-title {
        margin-bottom: 40px;
        > div:nth-child(1) {
            color: #fff;
            font-size: 23px;
            font-weight: 700;
        }
    }
    &-channel {
        color: $aside-text;
        margin-bottom: 40px;
        > div:nth-child(1) {
            font-size: 22px;
            margin-bottom: 8px;
        }
        > div:nth-child(2) {
            font-size: 20px;
        }
    }
    &-list {
        > div:nth-child(1) {
            margin-bottom: 10px;
            > div:nth-child(1) {
                color: $aside-text;
                font-size: 22px;
            }
        }
    }
    &-list-element {
        display: flex;
        align-items: baseline;
        margin-bottom: 8px;
        > div:nth-child(1) {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin-right: 10px;
            flex-shrink: 0;
        }
        > div:nth-child(2) {
            color: $aside-text;
            font-size: 20px;
        }
    }
    &-connected {
        border: 1px solid $connected;
        background-color: $connected;
    }
    &-disconnected {
        border: 1px solid $aside-text;
    }
}
